Все импорты должны выполняться, особенно если вы запускаете это внутри докера

In [1]:
%pylab inline
%config InlineBackend.figure_format = 'retina'
style.use('dark_background')
from IPython.display import clear_output
from copy import copy, deepcopy
from tqdm import tqdm_notebook as tm
from tqdm import trange
from glob import glob
import os
import sys
import warnings
warnings.filterwarnings("ignore")
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
import pandas.io.sql as psql

Вспомогательные функции для запроса данных из базы

In [3]:
def get_conn():
    import psycopg2 as pg
    return pg.connect("dbname=vk_data user=vk_parser password=WegEWWXfedLf2YbS host=13.84.188.132")

def run_sql(query):
    import pandas.io.sql as psql
    res = psql.read_sql(query, get_conn())
    try:
        return res.set_index('uid')
    except:
        import warnings
        warnings.warn("[run_sql] UID wasn't selected, default index used")
        return res

def get_uid():
    return run_sql("SELECT uid FROM users WHERE data_loaded")

In [4]:
# Всего у нас вот столько таблиц

run_sql("""SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'""")

      table_name
0         groups
1          likes
2          posts
3  users_friends
4   users_groups
5          users

In [5]:
# Посмотреть на все "колонки" в таблице можно вот так

run_sql("Select * FROM users LIMIT 0")

Empty DataFrame
Columns: [first_name, last_name, sex, nickname, domain, bdate, city, country, photo_50, photo_100, photo_200_orig, can_write_private_message, status, data_loaded, mobile_phone, home_phone, group_list_loaded, comments_loaded, is_leader]
Index: []

In [6]:
# Так можно посмотреть на всех Ань

df = run_sql("SELECT uid FROM users WHERE first_name = 'Аня'")
df.head()

Empty DataFrame
Columns: []
Index: [33666831, 84437393, 114902012, 28052349, 55428072]

In [7]:
# А так - сделать поиск по тексту комментария

df = run_sql("SELECT from_id, text FROM posts  WHERE (text <> '') AND (text LIKE '% да ладно тебе%')")
df.head()

     from_id                                               text
0     404302  Ой да ладно тебе!Ты нарываешься на комплимент!)))
1   12023181  ой да ладно тебе..\nсам выучишь все лучше всех...
2    2435684            ахахаха да ладно тебе...я ж чуть чуть))
3   11642851  Машусик, да ладно тебе=*** все нормально)))\nС...
4  463596641  Рассказы и байки уральской деревеньки В каждой...

In [8]:
def getPostsByUid(uid):
    sqlQuery = "SELECT from_id, text FROM posts  WHERE (text <> '') AND (from_id = " + str(uid) + ")"
    return run_sql(sqlQuery).text

In [9]:
getPostsByUid(15759198)

0                                       хм...в смысле?)
1     не я все так удаляю))оставляю ток картинки и м...
2                    аххах ну это все для дебя детка)))
3     ой не повериш как я искала искала хд))а потом ...
4                           аххаха вот сейчас)))))хд)))
5                            пашка!!!а я тебя нашла))хд
6                                  урааа пасипки зай)))
7     хд да ладно тебе)))))))я же шучу насчет кулисо...
8     хд ну пашечка ну солнышко..ну малыш..ну кися))...
9                 аххах а ты меня возешь с собой???))))
10    пасип зайк))обязательно буду)))хахах)))*лыбить...
11    ооххохо прикольно))я та тоже не плохо это а ко...
12    оооо пашка ну ты отрастил патлы))))мужичек))))...
Name: text, dtype: object

In [11]:
# Допустим теперь для каждого юзера у нас появились предсказания, запишем их в сабмишн файл 

ids = get_uid()
leaders = np.random.choice(list(ids.index), size=100)


submission = pd.DataFrame({'is_leader':np.zeros(ids.shape[0])}, index=ids.index)
submission.loc[leaders] = 1

submission_file = '../data/submission/random_submission.csv'
if not os.path.exists(os.path.dirname(submission_file)):
    os.makedirs(os.path.dirname(submission_file))
submission.to_csv(submission_file)